<div class="ui grid">
  <div class="column">
    <div>&nbsp;</div>
  </div>
<div class=" four wide column">
  <div class="ui small feed">
    <h4 class="ui header">Branch Activity</h4>
    <div class="event">
      <div class="content">
        <div class="summary">
         <p>Currently no recorded activity for this Branch</p>
        </div>
      </div>
    </div>
    
  </div>
</div>
  <div class="column">
    <div>&nbsp;</div>
  </div>
  <div class=" four wide column" >
    <div class="ui small feed">
      <h4 class="ui header">Announcement</h4>
      <div class="event">
        <div class="content">
          <div class="summary">
            <p>Currently no Announcements</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class=" four wide column">
    <h4 class="ui horizontal divider header">
      <i class="tag icon"></i>
      Quick Access Menus
    </h4>
    <div style="width: 100%; margin: auto;">
      <div class="ui vertical menu" style="width: 100%;">

        <a class="item" style="width: 100%;">
          Missing Items
          <div class="ui green label">0</div>
        </a>
        <a class="item" style="width: 100%;">
          For Checking
          <div class="ui green label">0</div>
        </a>
        <a class="item"  style="width: 100%;">
          For Approval
          <div class="ui green label">0</div>
        </a>
        <div class="item"  style="width: 100%;">
          <div class="ui transparent icon input">
            <input type="text" placeholder="Search Delivery Tracking No.">
            <i class="search icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
