<div class="ui stackable grid">
  <div class="row">
    <div class="three wide column">
      <div class="ui secondary vertical pointing menu" style="margin: auto;">
        <a class=" item"  [routerLink]="['/customeraccounts','management']" routerLinkActive="active" style="width: 100%;">
          Air Shipments
        </a>
        <a class=" item"  [routerLink]="['/customeraccounts','transactions']"  routerLinkActive="active"  style="width: 100%;">
          Sea Shipment
        </a>
        <a class=" item" [routerLink]="['/customeraccounts','transactions']" routerLinkActive="active" style="width: 100%;">
          Sea Shipment
        </a>
        <a class=" item" [routerLink]="['/customeraccounts','transactions']" routerLinkActive="active" style="width: 100%;">
          Sea Rates per Route
        </a>
        <a class=" item" [routerLink]="['/customeraccounts','transactions']" routerLinkActive="active" style="width: 100%;">
          Standard Air Fees
        </a>
        <a class=" item" [routerLink]="['/customeraccounts','transactions']" routerLinkActive="active" style="width: 100%;">
          Cargo Weight Class
        </a>
        </div>
      </div>
    </div>
    <div class="ten wide column">
      <div class="segment">
       </div>
    </div>
</div>
